{
  "singleQuote": true,
  "semi": true,
  "trailingComma": "all",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": ["<BUILTIN_MODULES>", "^@nestjs/(.*)$", "<THIRD_PARTY_MODULES>", "^@grimoire/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderParserPlugins": ["typescript", "decorators-legacy"]
}
